.btn-search {
  background-color: white;
  border: none;
  border-radius: 4px;
}
.btn-search:hover {
  border-radius: 6px;
}

.color-body {
  background-color: #0c0f21;
  height: 135rem;
}

.card {
  height: 375px;
  position: relative;
  cursor: pointer;
}
.card-img {
  display: block;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.card-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.527);
  color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}
.card-overlay:hover {
  opacity: 1;
}
